body{
    
    max-height: 100vh;
    padding-top: 50px;

    background: #A5AAAD url('https://mail.uia.net/pics/pagebackground.gif') repeat-x;
  
    
    
}

.main {
   
    min-height: 90vh;
    border-top: 4px solid #10456B;
    background: url('https://res.cloudinary.com/edifice-solutions/image/upload/v1701296011/Screenshot_2023-11-29_at_11.04.36_PM_uuqzwi.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;


}

.logo{
    width:20%;
}

.innerdiv{
    min-height: 60vh;
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 5px 0px 3px 5px rgba(105,105,105,0.6);
}

.heading{
    font-size: 1.8em;
    font-weight: bold;
    color: #10456B;
    
}

.headingtwo{
    font-size: 1.2em;
    font-weight:bolder;
    color: black;

    
}

.content{
    padding-right:70px;
}

.formdiv{
    background-color: white;
    min-height: 50vh;
    margin-top: 30px;
    width: 90%;
    box-shadow: 3px 0px 3px 3px rgba(105,105,105,0.6);
    border-radius: 5px;
}

.label{
    font-size:13px;
}

.forgot{
    font-size:13px;
    color: #10456B;
    font-weight: 700;
}

.forgot:hover{
    color:black;
}



/* media */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    body{
        background-color: black;
        max-height: 100vh;
        padding-top: 0px;
    }
    
    .innerdiv{
        min-height: 80vh;
        background-color: white;
        margin-top: 30px;
        border-radius: 15px;
        box-shadow: 5px 0px 3px 5px rgba(105,105,105,0.6);
    }

    .buttondiv{
        margin-top: 30px;
    }
 
  }